<div class="table-responsive col-md-12 mt-4 text-center" id="tablecontainer">
    <table class="table table-bordered table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle" scope="col">id</th>
                <th class="align-middle" scope="col">Nome</th>
                <th class="align-middle" scope="col">Estado Civil</th>
                <th class="align-middle" scope="col">Idade</th>
                <th class="align-middle" scope="col">CPF</th>
                <th class="align-middle" scope="col">Cidade</th>
                <th class="align-middle" scope="col">UF</th>
                <th class="align-middle" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody class="usuarios_list">
            <div id="userscontainer">
                {{#each usuarios}}
                <tr>
                <td class="align-middle">{{_id}}</td>
                <td class="align-middle">{{name}}</td>
                <td class="align-middle">{{ecivil}}</td>
                <td class="align-middle">{{age}}</td>
                <td class="align-middle">{{cpf}}</td>
                <td class="align-middle">{{city}}</td>
                <td class="align-middle">{{uf}}</td>
                <td class="align-middle">
                <a href="/editar/{{_id}}"><button class="btn btn-info btn-block">Editar</button></a>

                <form action="/cadastro/remover/" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger btn-block">Remover</button>
                </form>
                </td>
                </tr>
                {{/each}}
            </div>
        </tbody>
    </table>
</div>